<h1 class="mt-4">Ticket Dashboard</h1>
    <table class="table"> 
        <thead>
            <tr>
                <th>CreatedBy</th>
                <th>Category</th>
                <th>AssignedTo</th>
                <th>Priority</th>
                <th>Status</th>
                <th>Comment</th>
                <th>Timestamp</th>

                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Aby</td>
                <td>Development</td>
                <td>Aby</td>
                <td>Medium</td>
                <td>Open</td>
                <td>Look at my comment</td>
                <td></td>
                <td><span class ="dash-status"> </span></td>
                <td>
                    <a href="/ticket/edit/" class="btn btn-float">
                    <i class="fas fa-edit fa-size"></i>
                    </a>
                    
                </td>
            </tr>
        </tbody>
    </table>

    <a href="tickets" class="btn btn-secondary"> Create Ticket</a>
    <a href="/users/logout" class="btn btn-secondary">Logout</a>