<nav class="header">
    <div class="nav-wrapper container"> 
        <a href="#" data-target="mobile-demo" class="sidenav-trigger show left"></a>
        <l class="navbar" id="mobile-demo">
            <ul><i class="fas fa-yin-yang fa-2x"></i></ul>
            <ul><a href="/dashboard"> Dashboard </a></ul>
            <ul><a href="/tickets"> New Application</a></ul>
            <ul><a href="/session"> Book A Session!</a></ul>
            <ul><a href="/opportunity"> Opportunity Board </a></ul>
            <ul><a href="/users/logout"> Logout</a></ul>     
    </div>
</nav>

<h1 class="mt-4">Opportunity Board</h1>