<!DOCTYPE html>
<nav class="header">
  <div class="nav-wrapper container"> 
      <a href="#" data-target="mobile-demo" class="sidenav-trigger show left"></a>
      <l class="navbar" id="mobile-demo">
          <ul><i class="fas fa-yin-yang fa-2x"></i></ul>
          <ul><a href="/dashboard"> Dashboard </a></ul>
          <ul><a href="/tickets"> New Application</a></ul>
          <ul><a href="/session"> Book A Session!</a></ul>
          <ul><a href="/opportunity"> Opportunity Board </a></ul>
          <ul><a href="/users/logout"> Logout</a></ul>
  </div>
  </nav>

<h1 class="text-center mt-4">Book A Session</h1>
<h6 class="text-center"> With Career Dev</h6>

<div class="row mt-5">
    <div class="col-md-5 m-auto">
    <div class="card card-body btn btn-float"><a href="https://calendar.google.com/calendar/u/0/r?tab=rc"><i class="fas fa-calendar-alt fa-10x"></i></a>
      <h6 class="text-center mt-3"> Book A One on One internship prep session here</h6>
    </div>
    </div>
    <div class="col-md-5 m-auto">
    <div class="card card-body btn btn-float" type="submit"> <a href="/dashboard"><i class="fas fa-file-upload fa-10x"></i></a>
      <h6 class="text-center mt-3"> Upload your resume for review here </h6>
    </div>
    </div>
</div>

</html>
