<nav class="header">
  <div class="nav-wrapper container"> 
      <a href="#" data-target="mobile-demo" class="sidenav-trigger show left"></a>
      <l class="navbar" id="mobile-demo">
          <ul><i class="fas fa-yin-yang fa-2x"></i></ul>
          <ul><a href="/dashboard"> Dashboard </a></ul>
          <ul><a href="/tickets"> New Application</a></ul>
          <ul><a href="/session"> Book A Session!</a></ul>
          <ul><a href="/opportunity"> Opportunity Board </a></ul>
          <ul><a href="/users/logout"> Logout</a></ul>
  </div>
  </nav>

  <div class="row mt-5">
    <div class="col-md-6 m-auto">
      <div class="card card-body">
        <h1 class="text-center"><i class="fas fa-yin-yang fa-2x"></i></h1>
        <h1 class="text-center mb-3">New Application</h1>

<div class="form-group">
    <form action = "/tickets" method="POST" class="col s12">
    <div class = "form-group">
        <div class="input-field">
            <label for="company"> Company </label>
            <input type="text" id="company" name="company" class="form-control" placeholder="" value="<%= typeof name != 'undefined' ? name : '' %>">
        </div>
    </div>
    <div class = "form-group">
        <div class="input-field">
            <label for="role"> Role </label>
            <input type="text" id="role" name="role" class="form-control" placeholder="" value="<%= typeof priority != 'undefined' ? priority : '' %>">
        </div>
    </div>
    <div class = "form-group">
        <div class="input-field">
            <label for="deadline">Deadline</label>
            <input type="Date" id="deadline" name="deadline" class="form-control" placeholder="Date" value="<%= typeof priority != 'undefined' ? priority : '' %>">
        </div>
    </div>
    <div class = "form-group">
        <div class="input-field">
            <label for="status">Status</label> 
            <select id="status" name="status" class="form-control" placeholder="" value="<%= typeof priority != 'undefined' ? priority : '' %>">
            <option value="not applied" selected>Not Applied</option>
            <option value="applied">Applied</option>   
            <option value="awaiting feedback">Awaiting feedback</option>  
            <option value="interview">Interview</option>  
            <option value="accepted">Accepted</option>  
            <option value="rejected">Rejected</option>  
            </select>  
        </div>
    </div>
    <div class="row">
        <input type="submit" value="Save" class="btn btn-primary btn-block">
        <a href="/dashboard" class="btn btn-block"> Back </a>
    </div>
    
    </form>
    </div>
    </div>
    </div>
    </div>

</div>